
<!doctype html>
<html>
<head>
		<meta charset="utf-8">
		<meta content="张睿，博客, 前端，程序，技术" name="keywords">
		<meta name="viewport" charset="UTF-8" content="user-scalable=no, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"/>
		<title>张睿的方法论</title>
		<link rel="stylesheet" href="/dist/common.css">
		<link rel="stylesheet" href="/dist/index.css">
</head>
<body>
<div class='header clear-fix'>
	<div class='avatar'>
		<!-- <img src='/img/avatar.jpeg' /> -->
	</div>
	<ul class='nav'>
		<li>
			<a href='/'>首页</a>
		</li>
		<li>
			<a href='/about'>关于我</a>
		</li>
		<li>
			<a href='/list'>博客</a>
		</li>
		<li>
			<a href='/write'>写作</a>
		</li>
	</ul>
</div>
